<div class="card col-md-6 mx-auto mt-5">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class=" mx-auto">
      <form novalidate
          (ngSubmit)="save()"
          [formGroup] = "imageForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Image Title</label>
          <input type="text" class="form-control" 
          id="exampleInputEmail1" 
          formControlName="title"
          [ngClass] = "{'is-invalid': (imageForm.get('title').touched || imageForm.get('title').dirty ) && !imageForm.get('title').valid}">
          <span class="invalid-feedback">
            <span *ngIf = "imageForm.get('title').errors?.required">
              Please enter image title
            </span>
            <span *ngIf = "imageForm.get('title').errors?.minlength">
              Please enter title longer than 3 characters
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Url</label>
          <input type="url" class="form-control" 
          id="exampleInputPassword1" 
          formControlName="url"
          [ngClass] = "{'is-invalid': (imageForm.get('url').touched || imageForm.get('url').dirty ) && !imageForm.get('url').valid}">
          <span class="invalid-feedback">
            <span *ngIf = "imageForm.get('title').errors?.required">
              Please enter image Url
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">thumbnailUrl</label>
          <input type="url" class="form-control" 
          id="exampleInputPassword1" 
          formControlName="thumbnailUrl"
          [ngClass] = "{'is-invalid': (imageForm.get('thumbnailUrl').touched || imageForm.get('thumbnailUrl').dirty ) && !imageForm.get('thumbnailUrl').valid}">
          <span class="invalid-feedback">
            <span *ngIf = "imageForm.get('title').errors?.required">
              Please enter image thumbnailUrl
            </span>
          </span>
        </div> <br>
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-outline-primary me-1"
                    type="submit"
                    [disabled] = "!imageForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary me-1 float-end"
                    type="button"
                    [routerLink]="['/images']">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

