<div class="row  ">
  <div class="col-md-3 d-flex align-items-stretch"
    *ngFor="let img of images | paginate: { itemsPerPage: 28, currentPage: page}">
    <div class="card " style="width: 13rem; margin-top: 5em; text-align: center;">
      <a [routerLink]="['/images',img.id]"><img [title]='img.id' class="card-img-top" src={{img.thumbnailUrl}}
          alt="Card image cap"></a>
      <div class="card-body d-flex flex-column">
        <h6 class="card-title ellipses">{{img.title }}</h6>
        <button type="button" class="btn btn-outline-info mt-auto" (click)="selectImg(img); openModal()">Edit</button>
      </div>
    </div>
  </div>
  <pagination-controls class="text-center mb-5 mt-5" (pageChange)="page = $event"></pagination-controls>
</div>